body {
    background-color: rgb(216, 210, 210);
    margin: 0px;
}

.menu {
    background-color: black;
    margin: 0px;
    width: 150%;
    height: 20px;

}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    display: inline;
    padding: 5px;

}

.menu ul li a {
    color: white;
    padding: 3px;
    text-decoration: none;

}

.menu ul li a:hover {
    background-color: blue;
}

.textarea {

    display: block;

}

textarea {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-color: white;
}

input {
    flex-direction: center;
}

.size {
    width: 100px;
    padding: 20px;
    margin: 20px;


}